.nfpij { 
  font-size: 19px;
  padding-left: 80px;
  padding-right: 7px;
  margin-top: 37px;
  padding-bottom: 27px;
  line-height: 26px;
  border-top-width: 84px;
  font-size: 93px;
  padding-right: 46px;
  margin-right: 46px;
  padding-left: 76px;
  border-bottom-width: 6px;
  border-top-width: 22px;
  margin-top: 73px;
  margin-right: 39px;
  padding-bottom: 45px;
  padding-top: 1px;
  border-bottom-width: 80px;
  margin-bottom: 46px;
  border-bottom-width: 43px;
  border-bottom-width: 57px;
  border-top-width: 68px;
  margin-left: 59px;
  margin-right: 5px;
}
