.rhnsy { 
  margin-top: 99px;
  line-height: 69px;
  margin-left: 27px;
  font-size: 97px;
  margin-right: 32px;
  padding-right: 75px;
  margin-top: 5px;
  font-size: 41px;
  padding-right: 81px;
  font-size: 67px;
}
